# This is a local file loaded by gitconfig to be used on a local computer
# Just copy this file and remove the suffix ".template" and you are ready to go.


[user]
  name = Anders Asplund
  email = aasplund@hotmail.com

[credential]
  helper = osxkeychain